@{
    ViewData["Title"] = "User Page";
}
@model User
<div class="text-center">
    <h2 class="display-4">Here is a User</h2>
    <h1>@Model.FirstName @Model.LastName</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
